{% extends 'base.html.twig' %}

{% block title %}{{parent()}}FAQ{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 pt-4 display-1 fw-bold titre"> FAQ </h1>

    <div class="container-fluid" id="container-fluid-faq">
    <button class="accordion">Section 1</button>
    <div class="panel">
      <p> a </p>
    </div>
    
    <button class="accordion">Section 2</button>
    <div class="panel">
      <p> b </p>
    </div>
    
    <button class="accordion">Section 3</button>
    <div class="panel">
      <p> c </p>
    </div> 
</div>
{% endblock %}