{% extends 'base.html.twig' %}

{% block title %}Réponse FAQ
{% endblock %}

{% block body %}
<h1 class="text-center pt-4 display-2 fw-bold"> REPONSE FAQ </h1>

<div class="container-fluid">
<div class="card mx-auto" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Modifier la réponse</h5>
      <p class="card-text">{{form(modifForm)}}</p>
    </div>
  </div>
</div>

{% endblock %}

